# Introduzione a Pandas

In [1]:
import pandas as pd
import numpy as np

In [4]:
testset = pd.read_csv('training_set.csv')
testset

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,CLASS
0,-0.555694,-0.848258,0.132180,-4.061760,1.661394,2.219988,0.360537,2.537116,-0.613588,2.078144,...,-2.492234,0.808907,-1.078887,3.438161,2.372122,1.899934,2.372122,2.219416,0.132180,2
1,0.293193,-2.628978,-1.154407,0.538828,-0.169857,3.487574,0.443397,-0.006410,-0.125778,1.223669,...,-1.723842,1.772836,0.467387,-1.501851,-3.599221,-0.968531,-3.599221,1.127776,-1.154407,0
2,-2.078656,-0.834492,1.241461,1.010122,-1.638526,0.247378,-1.887390,-1.331368,-2.159086,0.002788,...,-1.686278,-1.047410,-1.133299,-1.953928,-1.149684,1.111692,-1.149684,0.134184,1.241461,1
3,-1.294256,-2.804065,-1.335397,-1.351379,-0.327137,1.199219,0.262458,0.825120,-0.638883,1.660732,...,4.437570,-0.093413,2.637345,-2.415704,-4.679002,0.511314,-4.679002,0.805571,-1.335397,0
4,-0.525611,0.024948,1.609361,-0.248425,1.533188,0.580862,0.049771,-0.430270,-0.714264,-0.186867,...,0.404803,-0.733368,1.288384,-1.646543,-1.020989,0.658584,-1.020989,1.412792,1.609361,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.405098,0.592920,2.441859,-1.134919,2.248627,2.509097,-0.227617,0.275321,-0.274926,-0.595862,...,-0.169544,-0.255823,2.695956,-2.220396,-2.432903,-0.131110,-2.432903,-0.479939,2.441859,1
7996,-0.404388,1.813804,-2.483380,2.093664,0.139423,2.617027,0.489677,1.387914,-0.363073,0.030530,...,0.124103,0.056482,-0.333988,-1.204211,-0.224673,1.521622,-0.224673,-1.096852,-2.483380,2
7997,0.233546,-1.003142,-2.121826,1.581558,1.152723,-0.987152,0.337969,-4.654229,-0.417682,-1.260857,...,2.469214,2.782867,0.888288,0.335607,-2.248307,-1.386542,-2.248307,0.934043,-2.121826,0
7998,1.120382,0.194409,-0.672968,0.005154,2.290353,4.112554,0.720367,0.563533,-1.009534,-1.551473,...,0.607569,3.102179,4.237942,-0.710731,-0.359420,-1.500903,-0.359420,-0.658633,-0.672968,1
7999,0.994641,-1.185386,-3.610239,0.185566,-1.534623,3.021333,-0.721372,-3.250708,-0.034000,-0.102102,...,-3.273256,3.908861,0.809098,2.970013,-2.104526,-0.419366,-2.104526,1.655029,-3.610239,3

In [7]:
# Estraggo parti di tabella partendo dall'alto, possiamo anche specificare quante
testset.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,CLASS
0,-0.555694,-0.848258,0.132180,-4.061760,1.661394,2.219988,0.360537,2.537116,-0.613588,2.078144,...,-2.492234,0.808907,-1.078887,3.438161,2.372122,1.899934,2.372122,2.219416,0.132180,2
1,0.293193,-2.628978,-1.154407,0.538828,-0.169857,3.487574,0.443397,-0.006410,-0.125778,1.223669,...,-1.723842,1.772836,0.467387,-1.501851,-3.599221,-0.968531,-3.599221,1.127776,-1.154407,0
2,-2.078656,-0.834492,1.241461,1.010122,-1.638526,0.247378,-1.887390,-1.331368,-2.159086,0.002788,...,-1.686278,-1.047410,-1.133299,-1.953928,-1.149684,1.111692,-1.149684,0.134184,1.241461,1
3,-1.294256,-2.804065,-1.335397,-1.351379,-0.327137,1.199219,0.262458,0.825120,-0.638883,1.660732,...,4.437570,-0.093413,2.637345,-2.415704,-4.679002,0.511314,-4.679002,0.805571,-1.335397,0
4,-0.525611,0.024948,1.609361,-0.248425,1.533188,0.580862,0.049771,-0.430270,-0.714264,-0.186867,...,0.404803,-0.733368,1.288384,-1.646543,-1.020989,0.658584,-1.020989,1.412792,1.609361,1

In [9]:
# Estraggo parti di tabella partendo dal basso, possiamo anche specificare quante
testset.tail()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,CLASS
7995,0.405098,0.592920,2.441859,-1.134919,2.248627,2.509097,-0.227617,0.275321,-0.274926,-0.595862,...,-0.169544,-0.255823,2.695956,-2.220396,-2.432903,-0.131110,-2.432903,-0.479939,2.441859,1
7996,-0.404388,1.813804,-2.483380,2.093664,0.139423,2.617027,0.489677,1.387914,-0.363073,0.030530,...,0.124103,0.056482,-0.333988,-1.204211,-0.224673,1.521622,-0.224673,-1.096852,-2.483380,2
7997,0.233546,-1.003142,-2.121826,1.581558,1.152723,-0.987152,0.337969,-4.654229,-0.417682,-1.260857,...,2.469214,2.782867,0.888288,0.335607,-2.248307,-1.386542,-2.248307,0.934043,-2.121826,0
7998,1.120382,0.194409,-0.672968,0.005154,2.290353,4.112554,0.720367,0.563533,-1.009534,-1.551473,...,0.607569,3.102179,4.237942,-0.710731,-0.359420,-1.500903,-0.359420,-0.658633,-0.672968,1
7999,0.994641,-1.185386,-3.610239,0.185566,-1.534623,3.021333,-0.721372,-3.250708,-0.034000,-0.102102,...,-3.273256,3.908861,0.809098,2.970013,-2.104526,-0.419366,-2.104526,1.655029,-3.610239,3

In [11]:
# Seleziona la riga
testset.iloc[10]

F1      -1.211321
F2      -0.325700
F3       1.345666
F4      -2.203631
F5       0.091878
F6      -4.162786
F7       0.822559
F8      -0.817427
F9      -0.499763
F10      1.740538
F11      0.247072
F12      3.408854
F13     -1.692536
F14      2.577782
F15      1.205809
F16      0.052272
F17      3.132447
F18      0.052272
F19     -1.585862
F20      1.345666
CLASS    3.000000
Name: 10, dtype: float64

In [13]:
# Seleziona l'indice
testset.loc[10]

F1      -1.211321
F2      -0.325700
F3       1.345666
F4      -2.203631
F5       0.091878
F6      -4.162786
F7       0.822559
F8      -0.817427
F9      -0.499763
F10      1.740538
F11      0.247072
F12      3.408854
F13     -1.692536
F14      2.577782
F15      1.205809
F16      0.052272
F17      3.132447
F18      0.052272
F19     -1.585862
F20      1.345666
CLASS    3.000000
Name: 10, dtype: float64

In [15]:
testset.iloc[0,1]

-0.8482578577147615

In [17]:
print(f'Numero di elementi del testset = {len(testset)}')

Numero di elementi del testset = 8000

In [28]:
testset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      7994 non-null   float64
 1   F2      7994 non-null   float64
 2   F3      7999 non-null   float64
 3   F4      7999 non-null   float64
 4   F5      7996 non-null   float64
 5   F6      7994 non-null   float64
 6   F7      7996 non-null   float64
 7   F8      7991 non-null   float64
 8   F9      7994 non-null   float64
 9   F10     7994 non-null   float64
 10  F11     7995 non-null   float64
 11  F12     7994 non-null   float64
 12  F13     7997 non-null   float64
 13  F14     7990 non-null   float64
 14  F15     7998 non-null   float64
 15  F16     7994 non-null   float64
 16  F17     7996 non-null   float64
 17  F18     7993 non-null   float64
 18  F19     7995 non-null   float64
 19  F20     7997 non-null   float64
 20  CLASS   8000 non-null   int64
dtypes: float64(20), int64(1)
memory usage: 1.3 MB

In [20]:
# Scelgo la colonna che voglio
testset['CLASS']

0       2
1       0
2       1
3       0
4       1
       ..
7995    1
7996    2
7997    0
7998    1
7999    3
Name: CLASS, Length: 8000, dtype: int64

In [21]:
# Scelgo colonna che voglio
testset.CLASS

0       2
1       0
2       1
3       0
4       1
       ..
7995    1
7996    2
7997    0
7998    1
7999    3
Name: CLASS, Length: 8000, dtype: int64

In [22]:
testset.columns

Index(['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10', 'F11',
       'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20', 'CLASS'],
      dtype='object')

In [26]:
for idx, col in enumerate(testset.columns):
    print(idx ,' ', col)

0   F1
1   F2
2   F3
3   F4
4   F5
5   F6
6   F7
7   F8
8   F9
9   F10
10   F11
11   F12
12   F13
13   F14
14   F15
15   F16
16   F17
17   F18
18   F19
19   F20
20   CLASS

In [27]:
# isna = is not aviable
testset.isna()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,CLASS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False